[submodule "packages/testagent-opencode"]
	path = packages/testagent-opencode
	url = git@github.com:AI-Testing-Workbench/testagent-opencode.git

[submodule "packages/testagent-core"]
	path = packages/testagent-core
	url = git@github.com:AI-Testing-Workbench/testagent-core.git
[submodule "packages/testflow"]
	path = packages/testflow
	url = https://github.com/Pluto-AI-Workbench/testflow.git
